@import "tailwindcss";

::selection {
    background-color: #000 !important;
    color: #fff !important;
}

/* Для поддержки Firefox */
::-moz-selection {
    background-color: #000 !important;
    color: #fff !important;
}
